:root {
    --primary: #00693B; 
    --secondary: #00A651; 
    --bg: #F5F5F5;
    --card-bg: #FFFFFF;
    --text: #0F172A;
    --accent: #FFD700;
}

body { font-family: "Tajawal", sans-serif; background: var(--bg); margin:0; padding:20px; }

.card { max-width: 1000px; margin:auto; background: var(--card-bg); padding:25px; border-radius:15px; box-shadow:0 4px 12px #0002; }

h2,h3{ margin:12px 0; color: var(--primary); }

input, select, button { width: 100%; padding:12px; margin-top:10px; border:1px solid #d1d5db; border-radius:8px; font-size:1rem; box-sizing:border-box; }

button { background: var(--primary); color:white; border:none; cursor:pointer; transition:0.3s; }
button:hover { background: var(--secondary); }

.logout-btn { background:#EF4444; width:auto; padding:10px 20px; }
.logout-btn:hover { background:#DC2626; }

.table-container { overflow-x:auto; margin-top:20px; }

table { width:100%; border-collapse:collapse; font-size:0.95rem; }

th, td { border-bottom:1px solid #e5e7eb; padding:8px; text-align:center; }

th { background: var(--secondary); color:white; }
.debit { color:red; font-weight:bold; }
.credit { color:green; font-weight:bold; }

.modal { display:none; position:fixed; z-index:200; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4); justify-content:center; align-items:center; }

.modal-content { background:#fff; margin:auto; padding:20px; border-radius:10px; width:90%; max-width:420px; animation:fadeIn 0.25s ease; }
@keyframes fadeIn { from{ opacity:0; transform:scale(.9); } to{ opacity:1; } }

.close { color:#555; font-size:28px; cursor:pointer; float:left; }
.close:hover{ color:#000; }

#clientsModal .modal-body { background:#fff; padding:18px; border-radius:10px; width:90%; max-width:900px; max-height:80vh; overflow:auto; }

.stat-box { background:white; padding:15px; border-radius:10px; box-shadow:0 2px 5px #0001; text-align:center; flex:1; font-weight:bold; }

.wa-btn { background:#25D366;color:white;border:none;padding:6px 12px;border-radius:6px;display:flex;align-items:center;justify-content:center;gap:4px; }
.wa-btn img { width:16px; height:16px; vertical-align:middle; }
.input-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

.input-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.pick-btn {
width:50px;
    border: none;
    background: #28a745;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}
/* للجوال */
@media (max-width: 768px) {
  .card {
    margin: 5px;      /* مسافة صغيرة جداً من حواف الشاشة */
    padding: 10px;    /* padding داخلي صغير */
    width: auto;      /* ياخذ كامل عرض الشاشة تقريباً */
    border-radius: 8px; /* يمكنك تصغير الزوايا */
  }
  
  body {
    padding: 5px;     /* مسافة صغيرة جداً من حواف الشاشة */
  }
}
